      div.warning {
        background: #ffbbbb;
        padding: 1px 30px 3px 30px;
        margin-top: 5px;
        margin-bottom: 5px;
      }
      code {
        font-size: 8pt; font-weight: bold;
      }
      table.host_include td, table.host_include th {
        text-align: left;
      }
      span.tooltip {
        position: relative;
        border-bottom: 1px #000077 dashed;
      }
      span.tooltip span {
        display: none;
      }
      span.tooltip:hover span {
        background: #ffffe1;
        border: 1px #000000 solid;
        padding: 7px 7px 7px 7px;
        position: absolute;
        top: 7px;
        left: 10px;
        width: 300px;
        filter:alpha(opacity=50);
        display: block;
        z-index: 1;
        -moz-opacity:0.8;
        opacity: 0.8;
      }
      em {
        font-weight: bold;
      }
      img {
        border: none;
      }
      div.thumbnail, div.stale_thumbnail {
        margin: 1px 1px 1px 1px;
        font-size: 7pt;
        text-align: center;
        float: left;
        width: 125px;
        color: #000022;
      }
      div.thumbnail { 
        border: 1px dotted #ddddff;
        background-color: #ddddff;
      }
      div.stale_thumbnail { 
        border: 1px dotted #ffdddd;
        background-color: #ffdddd;
      }
      .stale {
        background-color: #ffdddd;
      }
      div.host, div.vertspace, hr {
        float: none;
        clear: both;
      }
      td.graph_detail {
        padding-left: 7px;
        padding-top: 10px;
      }
      body,BODY {
        margin: 0px;
        background-color: #ffffff;
      }
      pre {
        font-size: 8pt;
      }
      img.thumbnail {
        width: 125px;
        height: 32px;
      }


/* COMMENT OUT FROM HERE FOR NAGIOS THEME */
      a {
        color: #000077;
      }
      h1 {
        font-size: 14pt;
        background-color: #ccccff;
        padding: 0px 10px 2px 10px;
        border-bottom: 2px solid #9999ff;
      }
      h2 {
        background-color: #ddddff;
        margin: 25px 0px 1px 0px;
        padding-left: 7px;
        font-size: 12pt;
      }
      h3 {
        background-color: #ddddff;
        margin: 10px 0px 10px 0px;
        padding-left: 7px;
        font-size: 10pt;
      }
      div.footer {
        margin-top: 25px;
        font-size: 8pt;
        background-color: #ccccff;
        padding: 1px 7px 4px 7px;
        border-top: 1px solid #9999ff;
      }
      body,BODY,ul,li,table,div,p {
        font-family: Tahoma, sans-serif;
        font-size: 10pt;
      }
      div.contents {
        margin: 0px 10px 0px 10px;
      }
/* COMMENT OUT UNTIL HERE FOR NAGIOS THEME */
