<TMPL_INCLUDE header.tmpl>
<h1><a href="<TMPL_VAR self_url>">Index</a> &gt;
<TMPL_IF EXPR="HOST || LIKE">
  <a href="<TMPL_VAR self_url>?template=<TMPL_VAR template>"><TMPL_VAR title></a> &gt;
  <TMPL_IF HOST><TMPL_VAR HOST><TMPL_ELSE>Like <TMPL_VAR LIKE></TMPL_IF>
<TMPL_ELSE>
  <TMPL_VAR title>
</TMPL_IF>
</h1>

<div class="contents">
<TMPL_LOOP hosts>
  <TMPL_IF EXPR="equal_or_like(host,HOST,LIKE)">
<div class="host">
<h2><a href="<TMPL_VAR self_url>?template=host.tmpl&HOST=<TMPL_VAR host>"><TMPL_VAR host></a></h2>
  <TMPL_LOOP thumbnails>
    <TMPL_IF EXPR="period eq 'daily'">
<div class="thumbnail"><a href="<TMPL_VAR self_url>?template=host.tmpl&HOST=<TMPL_VAR host>&GRAPH=<TMPL_VAR graph>"><img src="<TMPL_VAR src>" class="thumbnail" /></a><br /><TMPL_VAR title></div>
    </TMPL_IF>
  </TMPL_LOOP>
  <TMPL_IF no_graphs>
    <i>No graphs available yet - please wait a few minutes.</i>
  <TMPL_ELSE>
    <TMPL_UNLESS thumbnails>
      <i>No thumbnails available yet - please wait a few minutes.</i>
    </TMPL_UNLESS>
  </TMPL_IF>
</div>
<div class="vertspace"></div>
  </TMPL_IF>
</TMPL_LOOP>
</div>

<TMPL_INCLUDE footer.tmpl>
