    <hr />
    <p>
      <a href="<TMPL_VAR self_url>">Return to index</a>
      - Created with <a href="http://search.cpan.org/~nicolaw/RRD-Simple/">RRD::Simple</a>,
      written by Nicola Worthington.
    </p>
  </body>
</html>
