    <TMPL_IF EXPR="like(HOST,'gametrust') || like(LIKE,'gametrust')">
    <img src="/small_gtlogo.gif" style="position:absolute; top:5px; right:15px;">
    </TMPL_IF>
    <div class="footer">
      <TMPL_IF EXPR="template ne 'index.tmpl'">
        <a href="<TMPL_VAR self_url>">Return to index</a> -
      </TMPL_IF>
      Created with <a href="http://search.cpan.org/~nicolaw/RRD-Simple/">RRD::Simple</a>,
      written by <a href="http://perlgirl.org.uk">Nicola Worthington</a>.
    </div>
  </body>
</html>
