    <div class="footer">
      <a href="<TMPL_VAR self_url>">Return to index</a>
      - Created with <a href="http://search.cpan.org/~nicolaw/RRD-Simple/">RRD::Simple</a>,
      written by <a href="http://perlgirl.org.uk">Nicola Worthington</a>.
    </div>
  </body>
</html>
