<html>
  <head>
    <title>
      RRD::Simple Monitoring:
      <TMPL_IF HOST><TMPL_VAR HOST><TMPL_ELSE><TMPL_VAR title></TMPL_IF>
      <TMPL_IF GRAPH>&gt; <TMPL_VAR GRAPH><TMPL_ELSE><TMPL_IF LIKE>&gt; Like <TMPL_VAR LIKE></TMPL_IF></TMPL_IF>
    </title>
    <meta http-equiv="refresh" content="900">
    <style type="text/css">
      a {
        color: #000077;
      }
      img {
        border: none;
      }
      h1 {
        font-size: 14pt;
        background-color: #ccccff;
        padding: 0px 10px 2px 10px;
        border-bottom: 2px solid #9999ff;
      }
      h2 {
        background-color: #ddddff;
        margin: 25px 0px 1px 0px;
        padding-left: 7px;
        font-size: 12pt;
      }
      h3 {
        background-color: #ddddff;
        margin: 10px 0px 10px 0px;
        padding-left: 7px;
        font-size: 10pt;
      }
      div.footer {
        margin-top: 25px;
        font-size: 8pt;
        background-color: #ccccff;
        padding: 1px 7px 4px 7px;
        border-top: 1px solid #9999ff;
      }
      div.thumbnail {
        border: 1px dotted #ddddff;
        background-color: #ddddff;
        margin: 1px 1px 1px 1px;
        font-size: 7pt;
        text-align: center;
        float: left;
        width: 125px;
        color: #000022;
      }
      div.host, div.vertspace, hr {
        float: none;
        clear: both;
      }
      body,BODY {
        margin: 0px;
        background-color: #ffffff;
      }
      body,BODY,ul,li,table,div,p {
        font-family: Tahoma, sans-serif;
        font-size: 10pt;
      }
      pre {
        font-size: 8pt;
      }
      td.graph_detail {
        padding-left: 7px;
        padding-top: 10px;
      }
      div.contents {
        margin: 0px 10px 0px 10px;
      }
    </style>
  </head>
  <body>
