<html>
  <head>
    <title>RRD::Simple Monitoring: <TMPL_IF HOST><TMPL_VAR HOST><TMPL_ELSE><TMPL_VAR title></TMPL_IF></title>
    <style type="text/css">
      img {
        border: none;
      }
      body,BODY {
        background-color: #eeeeff;
        font-family: Helvetica, sans-serif;
      }
    </style>
  </head>
  <body>
