<TMPL_INCLUDE header.tmpl>
<h1><TMPL_VAR title></h1>

<ul>
  <li><a href="<TMPL_VAR self_url>?template=by_host.tmpl">Browse by host</a></li>
  <li><a href="<TMPL_VAR self_url>?template=by_graph.tmpl">Browse by graph</a></li>
</ul>

<TMPL_INCLUDE footer.tmpl>
