<TMPL_INCLUDE header.tmpl>
<h1><TMPL_VAR title></h1>

<div class="contents">
  <p>Welcome to rrd.me.uk.</p>

  <table border="0"><tr><td valign="top">
    <ul>
      <li><a href="<TMPL_VAR self_url>?template=by_host.tmpl">Browse by host</a> - overview of all monitored hosts</li>
      <li><a href="<TMPL_VAR self_url>?template=list_hosts.tmpl">List of hosts</a> - list of all monitored hosts</li>
      <li><a href="<TMPL_VAR self_url>?template=by_graph.tmpl">Browse by graph</a> - overview of all monitors</li>
      <li><a href="<TMPL_VAR self_url>?template=list_graphs.tmpl">List of graphs</a> - list of all monitors</li>
    </ul>
  </td><td valign="top">
    <ul>
      <li><a href="<TMPL_VAR self_url>?template=by_graph.tmpl&LIKE=connections|state|loadavg|cpu_util|mem|net_traffic_eth">View most popular graphs</a></li>
      <li><a href="<TMPL_VAR self_url>?template=by_graph.tmpl&LIKE=cpu_">View all CPU graphs</a></li>
      <li><a href="<TMPL_VAR self_url>?template=by_graph.tmpl&LIKE=net_traffic_">View all network traffic graphs</a></li>
      <li><a href="<TMPL_VAR self_url>?template=by_graph.tmpl&LIKE=mem_">View all memory usage graphs</a></li>
      <li><a href="<TMPL_VAR self_url>?template=by_graph.tmpl&LIKE=apache_">View all Apache graphs</a></li>
      <li><a href="<TMPL_VAR self_url>?template=by_graph.tmpl&LIKE=_temp">View all temperate graphs</a></li>
    </ul>
  </td></tr></table>

  <p>
    If you would like your server to be publically monitored by rrd.me.uk, you will
    need to download a copy of the data gathering client script (rrd-client.pl).
    <a href="https://svn.perlgirl.org.uk/dav/RRD-Simple/examples/data_gathering/bin/rrd-client.pl">Click here to download a copy of rrd-client.pl</a>. rrd-client.pl
    currently only works on Linux 2.4 installs or higher, but will soon supoprt
    BSD, Darwin and hopefully more. To get the best results by monitoring as much
    as possible, you should make sure that you have the following programs installed:

    <ul>
      <li>/usr/bin/iostat - Required to monitor hard disk IO</li>
      <li>/usr/bin/vmstat - Required to monitor CPU utilisation</li>
      <li>/usr/bin/sensors - Required to monitor CPU temperature</li>
      <li>/usr/bin/hddtemp - Required to monitor hard disk temperature</li>
    </ul>

    Once you have downloaded rrd-client.pl and tested that it generates output, you
    should add it to your crontab to HTTP POST the data to our server run every 4 or
    5 minutes. A typical crontab entry might be:<br /><br />

    <code>*/5 * * * * sleep 10; /usr/local/bin/rrd-client.pl
       -p http://rrd.me.uk/cgi-bin/rrd-server.cgi >/dev/null 2>&1</code>
  </p>

  <p>
    To setup your own RRD::Simple Monitoring server, download the
    latest version of <a href="http://search.cpan.org/~nicolaw/RRD-Simple/">RRD::Simple</a>
    (version 1.39 or higher), and follow
    <a href="<TMPL_VAR self_url>?template=instructions.tmpl">these instructions</a>.
  </p>
</div>

<TMPL_INCLUDE footer.tmpl>
