<TMPL_INCLUDE header.tmpl>
<h1><a href="<TMPL_VAR self_url>">Index</a> &gt; <TMPL_VAR title></h1>

<div class="contents">
  <p>
    These instructions will help you install and configure your own RRD::Simple Monitoring
    server, using rrd-server.pl and rrd-server.cgi.
  </p>

  <h3>Prerequisite Software</h3>
  <p>
    If you are using a <a href="http://www.perl.org/get.html">recent 5.8.x version of Perl</a>,
    only the following additonal modules are required to run the rrd-browse.cgi web interface:
    <ul>
      <li><a href="http://search.cpan.org/~tlinden/Config-General/">Config-General-2.31.tar.gz</a></li>
      <li><a href="http://search.cpan.org/~samtregar/HTML-Template/">HTML-Template-2.8.tar.gz</a></li>
      <li><a href="http://search.cpan.org/~samtregar/HTML-Template-Expr/">HTML-Template-Expr-0.07.tar.gz</a></li>
      <li><a href="http://search.cpan.org/~dconway/Parse-RecDescent/">Parse-RecDescent-1.94.tar.gz</a></li>
    </ul>
  </p>

  <p>
    Likewise, if you are running a recent version of Perl, the following modules
    are required to run the rrd-server.pl script (which is called by rrd-server.cgi):
    <ul>
      <li><a href="http://search.cpan.org/~kwilliams/Module-Build/">Module-Build-0.2801.tar.gz</a></li>
      <li><a href="http://search.cpan.org/~nicolaw/RRD-Simple/">RRD-Simple-1.39.tar.gz</a>
        - RRD::Simple requires RRDtool to be installed. See the RRD::Simple
        <a href="http://search.cpan.org/~nicolaw/RRD-Simple/INSTALL">INSTALL</a> document for details.</li>
    </ul>
  </p>

  <h3>Selecing an Instllation Location</h3>
  <p>
    <i>Under construction - init! ;-)</i>
  </p>

  <h3>Setting up rrd-server.cgi &amp; rrd-browse.cgi</h3>
  <p>
    <i>Under construction - init! ;-)</i>
  </p>

  <h3>Automating Graph &amp; Thumbnail Creation</h3>
  <p>
    <i>Under construction - init! ;-)</i>
  </p>
</div>

<TMPL_INCLUDE footer.tmpl>
